
@{
    ViewBag.Title = "DetailsProduct";
}

<h2>Product Details</h2>

Product Id: @Model.ProductId
<br />
Product Name:@Model.ProductName
<br />
Product Price:@Model.ProductPrice
<br />
Product Description:@Model.ProductDetails
<br />

<a href="~/Home/AddProduct" class="btn btn-primary">Go to add</a>
